
  .errorValue{
    color: red;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 5px;
  }
  .valueFail{
    color: red;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .loggin {
    top: 0;left: 0;
    bottom: 0;right: 0;
    z-index: 200;
  }
  /* .loggin-overlay{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.44);
    width: 100%;height: 100%;
    cursor: pointer;
  } */

  .loggin-content{
    max-width: 500px;
    max-height: 440px;
    background-color: white;
    z-index: 1;
    margin: auto;
    padding: 30px 60px;
    border-radius: 5px;
  }
  .loggin__header {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--primary-color);
  }
  .loggin__title- {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 400;
    margin-top: 10px;
  }
  .loggin__label{
    font-size: 1.4rem;
    font-weight: 400;
  }
  .loggin__input {
    width: 100%;
    height: 48px;
    outline: none;
    padding-left: 10px;
    font-size: 1.6rem;
    border: 1px solid #2121211a;
    border-bottom: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: #dcdcdc5e;
    margin-top: 4px;
  }
  .loggin-form-group{
    margin-bottom: 20px;
  }
  button.loggin__btn-continue {
    width: 100%;
    height: 45px;
    font-size: 1.6rem;
    color: white;
    font-weight: 700;
    background-color: var(--primary-color);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .loggin__sign {
    text-align: center;
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
  }
  .loggin__sign-account{
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
  }
  @media (max-width: 739px){
    .loggin-content{
      padding: 15px 20px;
    }
  }