.search-result{
  margin-top: 105px;
}
.app_container__filter--left{
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .app_container__filter-by{
    padding: 20px;
  }
  .app_container__filter-by-title{
    text-align: center;
    font-size: 2rem;
    background-color: gray;
    padding: 10px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .app_container__filter--warrap{
    display: block;
  }
  .app_container__filter-list{
    width: 100%;
  }
  .app_container__filter-list-title{
    font-size: 1.8rem;
  }
  .app_container__filter-list-rating-star1{
    width: 160px; 
    margin: 0 auto 10px auto;
    display: flex;
  }
  .app_container__filter-list-rating-star2{
    width: 160px; 
    margin: 0 auto 10px auto;
    display: flex;
  }
  .app_container__filter-list-rating-star3{
    width: 160px; 
    margin: 0 auto 10px auto;
    display: flex;
  }
  .app_container__filter-list-rating-star1 .app_container__filter-list-star{
    position: relative;
    width: 105px;
  }
  .app_container__filter-list-rating-star2 .app_container__filter-list-star2{
    position: relative;
    width: 105px;
  }
  .app_container__filter-list-rating-star3 .app_container__filter-list-star3{
    position: relative;
    width: 105px;
  }
  .app_container__filter-list-star i{
    color: #ed143d80;
    margin: 0 0 5px 0;
    padding-right: 1px;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .app_container__filter-list-star2 i{
    color: #ed143d80;
    margin: 0 0 5px 0;
    padding-right: 1px;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .app_container__filter-list-star3 i{
    color: #ed143d80;
    margin: 0 0 5px 0;
    padding-right: 1px;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .app_container__filter-list-rating-star1 .app_container__filter-list-star-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    overflow: hidden;
    clip-path: inset(0 0% 0 0);
  }
  .app_container__filter-list-rating-star2 .app_container__filter-list-star-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    overflow: hidden;
    clip-path: inset(0 20% 0 0);
  }
  .app_container__filter-list-rating-star3 .app_container__filter-list-star-3{
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    overflow: hidden;
    clip-path: inset(0 40% 0 0);
  }
  .app_container__filter-list-rating__checked:checked ~ .app_container__filter-list-rating-star1 i{
    color: crimson;
  }
  .app_container__filter-list-rating__checked2:checked ~ .app_container__filter-list-rating-star2 i{
    color: crimson;
  }
  .app_container__filter-list-rating__checked3:checked ~ .app_container__filter-list-rating-star3 i{
    color: crimson;
  }
  .app_container__filter-list-star-text{
    font-size: 1.7rem;
    margin-top: -1px;
    cursor: pointer;
  }
  .app_container__filter-list-rating__checked, 
  .app_container__filter-list-rating__checked2,
  .app_container__filter-list-rating__checked3{
    display: none;
  }
  .container-filter {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 0 0 15px 39px;
    cursor: pointer;
    font-size: 1.6rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .app_container__filter-list-star-price{
    width: 100%;
  }
  .app_container__filter-list-star-price-title{
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  /* Hide the browser's default radio button */
  .container-filter input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark-filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #00000038;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container-filter:hover input ~ .checkmark-filter {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container-filter input:checked ~ .checkmark-filter {
    background-color: #009e7f;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark-filter:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-filter input:checked ~ .checkmark-filter:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container-filter .checkmark-filter:after {
       top: 6px;
      left: 6px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  .sort-by{
    margin-left: auto;
    background-color: white;
  }
  .sort-by__select {
    width: 145px;
    height: 30px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background-color: white;
  }
  .app_container-search {
    background-color: white;
    width: 100%;
    height: 73px;
    padding: 10px;
  }
  .app_container-search-text {
    font-size: 2.2rem;
    font-weight: bold;
  }
  .app_container-search-categories {
    display: flex;
  }
  .app_container-search-result {
    font-size: 1.8rem;
    margin-top: 8px;
    font-weight: 400;
  }
  .sort-by__select--border{
    border: 1px solid rgba(0, 0, 0, 0.26);
  }
  .sort-by__select-border{
    border: 1px solid;
  }