.cart__list{
    flex-grow: 1;
    width: 400px;
    overflow-y: auto;
    overflow-x: hidden;
  }
.cart__list-product {
    height: 120px;
    border-bottom: 1px solid #0000002e;
    display: flex;
  
  }
  .cart__list-product-count {
    display: block;
    background-color: var(--primary-color);
    margin: auto 10px;
    border-radius: 10px;
    width: 30px;
    
  }
  
  .cart__list-product-count-update {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 2rem;
    padding: 5px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 30px;
  }
  
  .cart__list-product-value {
    text-align: center;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
  }
  .cart__list-product-img {
    width: 100px;
    height: 100px;
     margin: auto 0;
  }
  .cart__list-product-title {
    min-width: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
  }
  .cart__list-product-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 4px;
  }
  .cart__list-product--close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 10px auto 0;
    font-size: 1.6rem;
    color: gray;
    cursor: pointer;
  }
  .cart__list-no-item{
      width: 100%;
      height: 100%;
  }
  img.cart__list-no-item-img {
    margin: 0 auto;
}
p.cart__list-no-item-text {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 15px;
}
 /* mobile and Tablet */
 @media (max-width: 1023px){
    /* :root{
        --header-height: 68px;
        --navbar-height: 0px;
    } */
    .hide-on-mobile-tablet{
        display: none;
    }
    .grid.wide.sm {   /*width để padding 2 bên trái phải*/
        max-width: 760px;
        margin: 0 auto;
    }
    
    .app_container--right{
        width: 100%;
    }
    .app_container--left{
        display: none;
    }
    .categories{
        display: flex;
    }
    .warrap-footer{
        display: block;
  
    }
    .footer__left{
        text-align: center;
        margin-top: 12px;
    }
    .footer__right{
        text-align: center;
        margin-top: 12px;
    }
  }
  /* Tablet */
  @media (min-width: 1023px) and (max-width: 1239px){
    .gridd.wide{
        max-width: 748px;
        margin: 0 auto;
    }
  }
  @media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }
    .header__menu-left{
        margin: auto;
    }
    .header__menu-search-tablet{
        display: block;
    }
    .app_container-banner-delivered{
        font-size: 3rem;
    }
    .app_container-banner-day{
        font-size: 2rem;
    }
    
  }
  /*mobile*/
  @media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }
  
    .header{height: 80px;}
    .header__menu{height: 80px;}
    .app_container{margin-top: 85px;}
    .header__menu-search-mini{height: 80px;}
    .header__menu-search-mini--background{
        height: 80px;
    }
    .header__menu-left{
        margin: auto;
    }
    .header__menu-search-tablet{
        display: block;
    }
    .app_container{
        padding: 0 4px;
    }
    .header__menu{
        margin: 0 4px;
    }
    .header__menu-navbar {
        margin: 0 44px 0 30px;
    }
    .app_container--right{
        padding: 0;
    }
    .app_container-banner-delivered{
        font-size: 2.4rem;
    }
    .app_container-banner-day{
        font-size: 2rem;
    }
    .filter-by{display: none;}
  }
  @media (max-width: 500px){
    .cart{
        width: 100%;
    }
    .cart__list{
        width: 100%;
    }
    .cart__list-product {
        height: 110px;
        min-width: 100%;
    }
    .cart__list-product-count{
        margin: auto 0px auto 10px;
    }
    .cart__list-product-title {
        min-width: 154px;
        font-size: 1.6rem;
    }

    .cart__list-product--close {
        margin: auto 10px auto 5px;
        font-size: 1.6rem;
    }
    .header__menu-account {
        padding: 10px;
        font-size: 1.2rem;
    }
    .header__menu-navbar{
        margin: 0 44px 0 14px;
    }
  }
  @media (max-width: 360px){
    .cart__list-product-title{
        min-width: 100px;
    }
  }
  